<footer class="footer">
    <div class="footer__content">
        <ul class="socialmedia">
            <li><a href="https://www.instagram.com/mcgweb/" title="Instagram"><i class="icon icon-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100031998110346" title="Facebook"><i class="icon icon-facebook"></i></a></li>
            <li><a href="https://twitter.com/martacg7/" title="Twitter"><i class="icon icon-twitter"></i></a></li>
            <li><a href="https://web.whatsapp.com/send?phone=34644872854&text=Hola%21" title="WhatsApp"><i class="icon icon-whatsapp"></i></a></li>
        </ul>
        <p>
            <a href="https://martagonzalez.dev/">www.martagonzalez.dev</a><br/>
            <a href="https://martagonzalez.dev/">© 2022 Marta González | Desarrollo front-end</a>
        </p>
    </div>
</footer>
