<header class="header">
    <div class="header__content">
        <figure>
            <img class="brand" src="/assets/images/logo.png"/>
        </figure>
        <nav class="mainnav">
            <ul>
                <li class="active"><a href="#" title="Home">Home</a></li>
                <li><a href="#" title="About us">About us</a></li>
                <li><a href="#" title="Gallery">Gallery</a></li>
                <li><a href="#" title="Join us">Join us</a></li>
            </ul>
        </nav>
    </div>
</header>