<header class="header">
    <div class="header__content">
        <figure>
            <img class="brand" src="assets/images/logo.png"/>
        </figure>
        <nav class="mainnav">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']" title="Home">Home</a></li>
                <li>
                    <a [routerLink]="['/about-us']" [routerLinkActive]="['active']" title="About us">About us</a></li>
                <li>
                    <a [routerLink]="['/gallery']" [routerLinkActive]="['active']" title="Gallery">Gallery</a>
                </li>
                <li>
                    <a [routerLink]="['/join-us']" [routerLinkActive]="['active']" title="Join us">Join us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
