<div id="aboutUs" class="about-us">
    <div class="about-us__header">
        <div>
            
        </div>
        <div>
            <p>By bike is better</p>
        </div>
    </div>
    <div class="about-us__content">
        <figure class="shape shape-1">
            <img src="assets/images/bg-shape-1.png" />
        </figure>
        <figure class="shape shape-2">
            <img src="assets/images/bg-shape-1.png" />
        </figure>
        <figure class="shape shape-3">
            <img src="assets/images/bg-shape-1.png" />
        </figure>
        <div>
            <figure class="move-by-bike">
                <img src="assets/images/home-move-by-bike.png" />
            </figure>
        </div>
        <div>
            <div>
                <p>
                    <span>About Us</span>
                </p>

            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>
</div>
