.join-us{
    .join-us__header{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 12vh;


        div{
            width:50%;
            p{
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 100;
            }
        }
    }
    .join-us__content{

        position: relative;
        
        img{
            width: 100%;
            margin-left: 10%;
            max-width: 50vw;
        }

        .shape{
            position: absolute;
            right:0;
        }
        .shape-1{
            width: 40px;
            top:-50px;
            right: 170px;
        }
        .shape-2{
            width: 60px;
            top:-28px;
            right: 80px;
        }
        .shape-3{
            width: 140px;
            bottom: -62px;
            right: 90px;
        }

        
        background: #1c1c1c;
        height: 50vh;
        

        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div{
            position: relative;
            &:first-child{
                p{
                    color: #e8e8e8;
                }
            }

            &:last-child{
                padding: 0 8%;
                div{
                    &:first-child{
                        display: flex;
                        align-items: end;
                        width: 450px;
                        p{
                            a{
                                padding:5px 15px;
                                text-decoration: none;
                                margin-bottom: 10px;
                            }
                            span{
                                font-size: 4rem;
                                text-transform: uppercase;
                                font-weight: 800;
                                width: 100%;
                                display: block;
                                line-height: 3.8rem;
                                display: inline-block;
                                &:first-child{
                                    color: #e8e8e8;
                                }
                                &:last-child{
                                    color: #45ac75;
                                }
                            }
                        }
                    }
                    &:last-child{
                        padding: 0;

                    }
                }

            }
        }




        p{
            color: #d9d9d9;
        }


    }
}






@media screen and (max-width:1126px){
    .join-us{
        .shape{
            display: none;
        }
        .join-us__header{
            height: auto;
            display: block;
            div{
                width: 100%;
                text-align: center;
            }
        }
        .join-us__content{
            height: auto;
        }
    }

    .join-us .join-us__content div:last-child div:first-child{
        display: block;
        align-items: end;
        width: 100%;
    }

}


@media screen and (max-width:720px){
    .join-us{
        .join-us__content{
            div{
                .move-by-bike{
                        display: none !important;
                }
            }
        }
    }
}